<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Details</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="root">
  <header>
    <h1>{{head}}</h1>
  </header>
  <main>
    <ul>
      <li v-for="teamDetail in teamDetails">
        <h2>{{teamDetail.firstName}} {{teamDetail.lastName}}</h2>
        <button v-on:click="teamDetail.show = !teamDetail.show">
          <span v-if="!teamDetail.show">Show Speciality</span>
          <span v-else>Hide Speciality</span>
        </button>
        <h3 v-show="teamDetail.show">{{teamDetail.speciality}}</h3>
      </li>
    </ul>
  </main>
  <footer>
    <p>{{footer}}</p>
  </footer>
</div>

<script>
  Vue.component('app-header', {
    template: '<header><h1>{{head}}</h1></header>',
    data: function(){
      return {
        head: 'My Team Details'
      }
    }
  })

  const app = new Vue({
    el: '#root',
    data () {
      return {
        head: 'My Team Details',
        footer: 'Copyright 2019 TeamDetails',
        teamDetails: [
          {firstName: 'Ryan', lastName: 'Joe', speciality: 'VueJs, NodeJs', show: false},
          {firstName: 'Segun', lastName: 'Ade', speciality: 'ReactJs, NodeJs', show: false},
          {firstName: 'Timi', lastName: 'Rita', speciality: 'Data Analysis', show: false},
          {firstName: 'Jude', lastName: 'Ray', speciality: 'PHP, Ruby', show: false},
          {firstName: 'Peace', lastName: 'Ann', speciality: 'ReactJs, Python', show: false},
          {firstName: 'Najia', lastName: 'Jim', speciality: 'HTML/CSS/JavaScript', show: false},
          {firstName: 'John', lastName: 'Hoe', speciality: 'AngularJs, Python', show: false}          
        ]
      }
    }
  })
</script>
</body>
</html>