#root {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

header {
  background-color: lightgreen;
}

footer {
  background-color: #222;
  color: lightgreen;
}

header, footer {
  text-align: center;
  padding: 10px 0;     
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0; 
}

li {
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  padding: 30px;
  border: 1px solid #222;
  margin: 10px;
}

button {
  cursor: pointer;
}